@media only screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    nav {
        justify-self: end;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .navigation li {
        list-style: none;
    }

    .navigation a {
        padding: .8rem 1.2rem;
        border-radius: 5px;
    }

    .top {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    #courses {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .hero-content h1 {
        font-size: 2.75rem;
    }

    .cta-button {
        padding: .8rem 1.8rem;
        font-size: 1.1rem;
    }

    .events {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1.5rem;
    }

    .forecast {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight-cards {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    #directory {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

}
.join-container {

    grid-template-columns: 2fr 1fr;
    align-items: start;

}